%h2 Request

.row
	
	%dl.dl-horizontal
		%dt= t 'Request ID', :default => "Request ID:" 
		%dd= @request.id
	%dl.dl-horizontal
		%dt= t 'User ID', :default => "User ID:" 
		%dd= @request.user_id		
	%dl.dl-horizontal
		%dt= t 'Created At', :default => "Created At:" 
		%dd= @request.created_at
	%dl.dl-horizontal
		%dt= t 'Departure', :default => "Departure:" 
		%dd= @request.departure
	%dl.dl-horizontal
		%dt= t 'Destination', :default => "Destination:" 
		%dd= @request.destination
	%dl.dl-horizontal
		%dt= t 'Estimated Time of Departure', :default => "ETD:" 
		%dd= @request.time
	%dl.dl-horizontal
		%dt= t 'Accepted', :default => "Accepted:" 
		%dd= @request.accepted
				

=link_to "Delete", request_path, method: :delete, data:{confirm: "Are you sure?"}


